<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>Circle Wars</title>
    <script type="text/javascript" src="jquery-1.11.0.js"></script>
    <script type="text/javascript" src="src/util.js"></script>
    <script type="text/javascript" src="src/vector.js"></script>
    <script type="text/javascript" src="src/resource_loader.js"></script>
    <script type="text/javascript" src="src/game.js"></script>
    <script type="text/javascript" src="src/entity.js"></script>
    <script type="text/javascript" src="src/weapon.js"></script>
    <script type="text/javascript" src="src/player.js"></script>
    <script type="text/javascript" src="src/wall.js"></script>
    <script type="text/javascript" src="src/explosion.js"></script>
    <script type="text/javascript" src="src/bullet.js"></script>
    <script type="text/javascript" src="src/script.js"></script>
    <script src="http://<%= ip %>:8000/socket.io/socket.io.js"></script>
    <style>
     .clearfix {
       clear: both;
     }
     .gameMenu {
       margin-left: auto;
       margin-right: auto;
       width: 500px;
       text-align: center;
     }
     .gameMenu form {
       text-align: left;
       clear: both;
     }
     .gameMenu form > div > label {
       float: left;
     }
     .gameMenu form > div > input {
       float: right;
     }
     .gameMenu form > div {
       clear: both;
     }
     #gameEndMenu {
       position: absolute;
       text-align: center;
       background: transparent;
       width: 100%;
       top: 30%;
     }
     #gameEndMenu .container {
       margin-left: auto;
       margin-right: auto;
       width: 200px;
       background: black;
       padding: 1em;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       border-radius: 10px;
     }
     #startGameBtn {
       margin-top: 10px;
     }
    </style>
  </head>
  <body>
    <div id="stageInit" class="stage gameMenu">
      <h1>Circle Wars</h1>
      <p>For so many years, the circles had peace. The war between the squares unified the circle fractions along the whole Earth. But once they could defeat the squares, after their unilateral surrender, the old little fights between different circle factions back to the light. The peace won't last...</p>
      <input type="button" id="newGameBtn" value="New Game"/>
      <input type="button" id="newMultiplayerGameBtn" value="New Multiplayer Game"/>
      <input type="button" value="Ranking" disabled/>
    </div>
    <div id="stageCreateGame" class="stage gameMenu">
      <h1>Circle Wars</h1>
      <form id="createGameForm">
        <div>
          <label>Min walls</label>
          <input name="minWalls" type="numeric" value="1">
        </div>
        <div>
          <label>Max walls</label>
          <input name="maxWalls" type="numeric" value="50">
        </div>
        <div>
          <label>Weapon (lower = more)</label>
          <input name="weaponGeneration" type="numeric" value="0.999">
        </div>
      </form>
      <div class="clearfix"></div>
      <input type="button" id="startGameBtn" value="Start Game"/>
    </div>
    <div id="stageGame" class="stage">
      <div id="gameEndMenu" style="display:none">
        <div class="container">
          <input type="button" id="newGame2Btn" value="New Game"/><br/>
          <input type="button" id="restartGameBtn" value="Restart Game"/><br/>
          <input type="button" id="exitBtn" value="Exit Game"/><br/>
        </div>
      </div>
      <canvas id="canvas" width="1000" height="500"></canvas>
    </div>
  </body>
</html>
